@import "./itemList.scss";
@import "./navbar.scss";
@import "./cartList.scss";
@import "./detail.scss";
@import "./sign.scss";
@import "./profile.scss";
@import "./footer.scss";
@import "./error.scss";
@import "./pagination.scss";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  &__footer {
    margin-top: auto;
  }
}
